.side-border {
  border-left: 1px solid #787878;;
}

.padded {
  padding: 10px 25px 25px 25px;
}

a.amendment {
  background-color:#6CF565;
  color: #333;
  &:hover {
    background-color: #2D8E00;
    cursor: pointer;
    color: #333;
  }
}

a.bg-active {
  background-color: #2D8E00;
}