.side-border {
  border-left: 1px solid #787878;;
}

.padded {
  padding: 10px 25px 25px 25px;
}

a.amendment {
  background-color: rgba(70, 154, 224, 0.15);
  color: black;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: #2980b9;
  }

  &.active  {
    color: white;
    background-color: #469AE0;

    &:hover {
      color: white;
      background-color: #2980b9;
      // background-color: lighten(#FFFAA2, 10%);
    }
  }

}

a.bg-active {
  background-color: #078FB3;

}

.bg-active {
  position: fixed;
  right: 0;
}

.initial-selection {
  span {
    line-height: 1.6;
    background: rgb(255, 250, 162);
  }
}

.editable-amendment {
  &.replaced {
    text-decoration : line-through;
    color: red;
  }


}