.side-border {
  border-left: 1px solid #787878;
}

.padded {
  padding: 10px 25px 25px 25px;
}

a.amendment {
  background-color:#A2DFFF;
  color: #333;

  &.active  {
    background-color: #FFFAA2;

    &:hover {
      background-color: lighten(#FFFAA2, 10%);
    }
  }

  &:hover {
    background-color: #078FB3;
    cursor: pointer;
    color: #333;
  }
}

a.bg-active {
  background-color: #078FB3;

}

.bg-active {
  position: fixed;
  right: 0;
}

.initial-selection {
  span {
    line-height: 1.6;
    background: rgb(255, 250, 162);
  }
}

.editable-amendment {
  &.replaced {
    text-decoration : line-through;
    color: red;
  }


}