#dropdownMenu {
  min-width: auto;
  width: 90%;
}

#body-home {
  background-image: url('parlement-2.png');
  opacity: 1;
  background-size: cover;
  height: 670px;
}

.home-block {
  padding-top: 200px;
}
