
<%= content_for(:title) do %>
About
<% end %>

<%= content_for(:description) do %>
<%# TODO %>
<% end %>

<body id="body-about">
  <div class="about-block">
    <div class="container text-center">

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">

          <h2><em>"Nul n'est censé ignorer la Loi..."</em></h2>
          <p>...Mais cela devient de plus en plus difficile!
            70 codes, des centaines de milliers d'articles</p>

        </div>
      </div>

    </div>
  </div>
</body>

<!-- <div id="banner">

  <div class="text-center">

    <h2><em>"Nul n'est censé ignorer la Loi..."</em></h2>
    <p>...Mais cela devient de plus en plus difficile!
      70 codes, des centaines de milliers d'articles</p>

  </div>
</div> -->