<div id="banner">
  <div class="container text-center" id="banner-layout">
    <div class="row">
      <div class="col-xs-12">

        <h2 class="about"><em>"Nul n'est censé ignorer la Loi..."</em></h2>
        <p class"about">...Mais cela devient de plus en plus difficile!</p>

      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row"></div>
  <div class="col-xs-12"></div>
</div>
