<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>PAROL</h1>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
          Pick a law
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" id="dropdownMenu">
          <% Law.all.each do |law| %>
          <li role="presentation">
            <!-- <a role="menuitem" tabindex="-1" href="/laws/:id">Loi éducation 2013</a> -->
            <%= link_to law.title, law_path(law), role: "menuitem" %>
          </li>
          <!-- <li role="presentation" class="disabled">
            <a role="menuitem" tabindex="-1" href="#">Loi santé</a>
          </li>
          <li role="presentation" class="disabled">
            <a role="menuitem" tabindex="-1" href="#">Loi transition énergétique</a>
          </li> -->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>