
<%= content_for(:title) do %>
Home
<% end %>

<%= content_for(:description) do %>
<%# TODO %>
<% end %>

<body id="body-home">
  <div class="home-block">
    <div class="container">

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">

          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
              Pick a law
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="dropdownMenu">
              <% Law.all.each do |law| %>
              <li role="presentation">
                <%= link_to law.title, law_path(law), role: "menuitem" %>
              </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
</body>
