<body>
  <div class="container">
    <div class="row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

        <h1>Les codes de loi</h1>
        <br>

          <% @codes.each do |code| %>
              <div class="col-xs-10">
                <ul class="list-inline">
                <li>
                  <h4><%= code.title %></h4>
                  <p><%= code.description %></p>
                </li>
              </div>
              <div class="col-xs-2">
                <%= link_to "Voir le code", code_path(code), class: 'btn btn-default' %>
                </ul>
              </div>
              <% end %>

      </div>
    </div>
  </div>
</body>


<!--           <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
              Pick a law
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" id="dropdownMenu">
              <% Law.all.each do |law| %>
              <li role="presentation">
                <%= link_to law.title, law_path(law), role: "menuitem" %>
              </li>
              <% end %>
            </ul>
          </div>

        </div>
 -->
