/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

 .btn-edition:after {
  content: "  Editer";
 }

 .btn-edition-close:after {
  content: "  Sauvegarder";
 }

 .btn-edit {
  background-color: $gray;
  color: white;
  border-color: $gray-dark;
    &:hover {
    background-color: $gray-dark;
    border-color: $gray-darker;
    color:white;
  }
 }


 .btn-quit-edit {
  background-color: $gray-dark;
  color: white;
  border-color: $gray-darker;
    &:hover {
    background-color: $gray;
    color: white;
    border-color: $gray-dark;
  }
 }

//  .pvw-title span {
//   display: none;
// }
// .pvw-title:after {
//   content: 'whatever it is you want to add';
// }

  // border : 1px solid;
  // border-color: red;
  // border-radius: 2px;
  // padding: 10px;
  // content: "edit mode";
  // color: white;
  // background-color: orange;