<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class='list-inline'>
        <li>
          <%#= link_to 'Retour à la Loi', law_path, class: 'btn btn-primary' %>
          <%= link_to law_path(@law_article.law), class: 'btn btn-primary' do %>
            <i class="fa fa-chevron-left"></i>&nbsp; Retour à la Loi
          <% end %>
        </li>
        <li>
          <%#= link_to law_law_article_path, class: 'btn btn-success' do %>
            <!-- Article suivant &nbsp;<i class="fa fa-chevron-right"></i> -->
          <%# end %>
          <% if @next_article %>
            <%= link_to law_law_article_path(@next_article), class: 'btn btn-success' do %>
            Article suivant &nbsp;<i class="fa fa-chevron-right"></i>
            <% end %>
          <% else %>
            <%= link_to home_path, class: 'btn btn-success' do %>
            Chercher une autre loi &nbsp;<i class="fa fa-chevron-right"></i>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7 article-area">
      <h2>Loi éducation 2014 - Article 2</h2>
      <h4>Modifie l'article L.111-1 du Code de l'éducation :</h4>
      <!-- <div class="text-justify"> -->
      <p>
        L'éducation est la première priorité nationale. Le service public de l'éducation est conçu et organisé en fonction des élèves et des étudiants. Il contribue à l'égalité des chances et à lutter contre les inégalités sociales et territoriales en matière de réussite scolaire et éducative. Il reconnaît que tous les enfants partagent la capacité d'apprendre et de progresser. <a href="#" class="amendment" data-amendmentId="1">Il veille à l'inclusion scolaire de tous les enfants, sans aucune distinction.</a> Il veille également à la mixité sociale des publics scolarisés au sein des établissements d'enseignement. Pour garantir la réussite de tous, l'école se construit avec la participation des parents, quelle que soit leur origine sociale. <a href="#" class="amendment" data-amendmentId="2">Elle s'enrichit et se conforte par le dialogue et la coopération entre tous les acteurs de la communauté éducative.</a>
      </p>
      <p>
        Outre la transmission des connaissances, la Nation fixe comme mission première à l'école de faire partager aux élèves les valeurs de la République. <a href="#" class="amendment" data-amendmentId="1">Le service public de l'éducation fait acquérir à tous les élèves le respect de l'égale dignité des êtres humains, de la liberté de conscience et de la laïcité.</a> Par son organisation et ses méthodes, comme par la formation des maîtres qui y enseignent, il favorise la coopération entre les élèves.
      </p>
      <p>
        Dans l'exercice de leurs fonctions, les personnels mettent en oeuvre ces valeurs.
      </p>
      <p>
        Le droit à l'éducation est garanti à chacun afin de lui permettre de développer sa personnalité, d'élever son niveau de formation initiale et continue, de s'insérer dans la vie sociale et professionnelle, d'exercer sa citoyenneté.
      </p>
      <p>
        Pour garantir ce droit dans le respect de l'égalité des chances, des aides sont attribuées aux élèves et aux étudiants selon leurs ressources et leurs mérites. La répartition des moyens du service public de l'éducation tient compte des différences de situation, notamment en matière économique et sociale.
      </p>
      <p>
        Elle a pour but de renforcer l'encadrement des élèves dans les écoles et établissements d'enseignement situés dans des zones d'environnement social défavorisé et des zones d'habitat dispersé, et de permettre de façon générale aux élèves en difficulté, quelle qu'en soit l'origine, en particulier de santé, de bénéficier d'actions de soutien individualisé.
      </p>
      <p>
        L'école garantit à tous les élèves l'apprentissage et la maîtrise de la langue française.
      </p>
      <p>
        L'acquisition d'une culture générale et d'une qualification reconnue est assurée à tous les jeunes, quelle que soit leur origine sociale, culturelle ou géographique.
      </p>


    </div>
    <div class='col-xs-5'>

    </div>

    <div class="col-xs-5 hidden" id="amendment_details_1">
      <div class="side-border padded"><!-- insérer l'instruction d'amendement (n°, statut, auteur, objet...) -->
        <h3>Amendement n°57</h3>
        <p>Auteur: Jules Ferry Jr.</p>
        <p>Statut: En discussion (Assemblée)</p>
        <p>Objet: Mettre en avant la laïcité et l'égalité de tous les enfants face à l'école.</p>
        <p>Date: 12/01/2015</p>
      </div>
    </div>

    <div class="col-xs-5 hidden" id="amendment_details_2">
      <div class="side-border padded"><!-- insérer l'instruction d'amendement (n°, statut, auteur, objet...) -->
        <h3>Amendement n°42</h3>
        <p>Auteur: Jean-Michel Debré</p>
        <p>Statut: Adopté (Assemblée)</p>
        <p>Objet: Rajouté dialogue.</p>
        <p>Date: 15/03/2014</p>
      </div>
    </div>
  </div>
</div>
