<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-4"> -->
      <!-- <div class="amendment">
        <h4 class="text-center">Modifier un Amendment</h4> -->
        <%#= simple_form_for(@amendment) do |f| %>
          <%#= f.error_notification %>
          <%#= f.input :chamber, label: "Chambre :" %> <!-- menu déroulant : Gvt, AN, Sénat  -->
          <%#= f.input :author, label: "Auteur(s) :" %>
          <%#= f.input :amendment_number, label: "N° Amendement :" %>
          <%#= f.input :content, label: "Contenu :" %>
          <%#= f.input :object, label: "Exposé des motifs :" %>
          <%#= f.input :date, label: "Date de vote :", placeholder: "12/02/2015" %>
          <%#= f.input :status, label: "Statut :" %> <!-- menu déroulant : adopté...  -->
          <%#= f.string :porteur %>
          <%#= f.button :submit, value: "Mettre à jour", class:"center-block btn btn-success" %>
        <%# end %>
      <!-- </div>
    </div>
  </div>
</div> -->