<h1><%= @amendment.title %></h1>
<p><%= @amendment.description %></p>

<!-- afficher les articles du code qui sont modifiés par l'amendement -->
<% @amendments.each do |amendment| %>
<!-- comme sur genius.com : chaque paragraphe est un a (construit avec des <br>)
qui ouvre un href qui est une sidebar amendmentContainer -->
<% end %>

<!-- amendmentContainer avec amendment.content -->
